/* Text Styles */
p{
	font-size: 1.5rem;
}

body{
	margin: 0;
	font-family: 'Inter';
	background-color: #B6D0E2;
}

/* Image Styles*/
.logo{
	width:10%;
	height: auto;
	margin: 0;
}

.run{
	margin-left: 0;
	max-width: 100%;
	height: auto;
}

.trophy{
	margin-right: 0;
	width: 100%;
	height: auto;
}

/* Wrapper Styles */
.wrapper
{
	display: flex;
}

.center{
	justify-content: center;
}

.main{
	justify-content: space-between !important;
}

.header{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: white;
}

@media (max-width: 700px){
	.main{
		flex-wrap: wrap;
	}
}

.imgWrap{
	width: 100%;
	text-align:right;
}

.rules{
	text-align: center;
	padding: 1vw 3vw 0 3vw;
}

.leaderboard{
	flex-direction: column;
	align-items: center;
    justify-content: center;
	width: 100%;
}

/* Leaderboard Styles */
.row {
	width: 30%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	width: 70%;
	line-height: 45px;
	padding-left: 10px;
}

.score {
	position: relative;
	display: inline-block;
	width: 20%;
}